libs/kohana
libs/smarty
libs/pear
public_html/scripts/FCKeditor/
webapp/cache/kohana_configuration
webapp/cache/kohana_file_paths
webapp/cache/smarty_compile/
webapp/logs/*.log.php
webapp/logs/*.log
messages.mo
*.swp
*.swo
