/* {{{ PList icons */
.result_action {
    background      : transparent url(images/result.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.vote_action {
    background      : transparent url(images/vote.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
/* }}} end of List actions */
