/*  
    vim: set expandtab tabstop=4 shiftwidth=4 foldmethod=marker:             
    File: $Id$
*/

/* {{{ #Global */
body {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin          : 0px;
    padding         : 50px;
    color           : #000000;
    background      : #ffffff url(../images/misc/background.png);
}
input, textarea, select {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    border          : 1px dotted #776655;
    padding         : 0px;
    background-color: #eeeeee;
    color           : #888888;
}
/* end of Global# }}} */
/* {{{ Blocks
/* {{{ #arag_block */
.arag_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_block form table {
    padding         : 0px 0px 0px 0px;
}
.arag_block_content {
    background-color: #ffffff;
    margin          : 0px 0px 10px 0px;
    padding         : 10px 10px 0px 10px;
    border          : 1px dotted #776655;
}
.arag_block_title {
    margin          : 0px;
    padding         : 6px;
    border-right    : 1px dashed #776655;
    border-left     : 1px dashed #776655;
    border-top      : 1px dashed #776655;
    background-color: #eeeeee;
    color           : #888888;    
    text-align      : center;
    font-weight     : bold;
    font-size       : 10px;
}
/* end of arag_block# }}} */
/* {{{ #arag_default_block */
.arag_default_block { 
    margin          : 0px;
    padding         : 0px;
    margin          : 0px 0px 5px 0px;
}
.arag_default_block a:link,
.arag_default_block a:visited {
    color           : #888888;
    text-decoration : none;
}
.arag_default_block a:hover {
    color           : #224455;
}
.arag_default_block_tl { /* header */
    background      : transparent url(../images/block/rounded_line_top_left.png) top left no-repeat;
    padding         : 0px;
    margin          : 0px 5px 0px 0px;  /* width of rounded_line_top_right corner */
    text-align      : center;
    color           : #888888;
    font-weight     : bold;
}
.arag_default_block_tr {     
    background      : transparent url(../images/block/rounded_line_top_right.png) top right no-repeat;
}
.arag_default_block_left {
    padding         : 0px;
    margin          : 0px;
}
.arag_default_block_right {
    margin          : 0px;
    padding         : 0px;
}
.arag_default_block_body {
    margin          : 0px;
    padding         : 2px;
    border-left     : 1px solid #776655;
    border-right    : 1px solid #776655;
}
.arag_default_block_bl {
    background      : transparent url(../images/block/rounded_line_bottom_left.png) bottom left no-repeat;
    padding         : 0px; 
    margin          : 0px 10px 0px 0px;  /* width of bottom_right corner */
}
.arag_default_block_br { /* footer */
    background      : transparent url(../images/block/rounded_line_bottom_right.png) bottom right no-repeat;
}
/* end of arag_default_block# }}} */
/* {{{ #arag_error_block */
.arag_error_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_error_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #776655;
}
/* end of arag_error_block# }}} */
/* {{{ #arag_info_block */
.arag_info_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_info_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #776655;
}
/* end of arag_info_block# }}} */
/* {{{ #arag_warning_block */
.arag_warning_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_warning_block form {
    padding         : 0px;
    margin          : 0px;
}
.arag_warning_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #776655;
}
/* end of arag_warning_block# }}} */
/* {{{ #arag_blank_block */
.arag_blank_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_blank_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 0px;
}
/* end of arag_blank_block# }}} */
/* {{{ #arag_tags_ds */
.arag_tags_ds a:link, 
.arag_tags_ds a:visited,
.arag_tags_ds a:active {
    color           : #888888;
    text-decoration : none;
}
.arag_tags_ds a:hover {
    color           : #bda68f;
    text-decoration : none;
}
.arag_tags_ds img {
    border          : 0px;
}
.arag_tags_ds ul, 
.arag_tags_ds ol, 
.arag_tags_ds li {
    list-style-type : none;
}
.arag_tags_ds h1,
.arag_tags_ds h2, 
.arag_tags_ds h3 {
    margin-top      : 0px;
    margin-bottom   : 0px;
}
.arag_tags_ds input, select {
    border          : 1px solid #776655;
    margin          : 1px;
    background-color: #f5f4eb;
}
.arag_tags_ds textarea {
    padding         : 1px;
    width           : 300px;
    height          : 100px;
    border          : 1px solid #776655;
    margin          : 3px;
    background-color: #f5f4eb;
}
/* arag_tags_ds# }}} */
/* end of Blocks }}} */
/* {{{ #PList */
.plist {
    border-left     : 1px dotted #776655;
    width           : 100%;
    width           : "91%"; /* IE5.5 hack */
    padding         : 0px;
    margin          : 0px 0px 10px 0px;
}
.plist caption {
    padding         : 0px;
    margin          : 0px;
    border-bottom   : 2px solid #776655;
    color           : #000000;
    font-size       : 12px;
}
.plist th {
    padding         : 4px;
    background-color: #eeeeee;
    color           : #888888;
    text-align      : center;
    height          : 20px;
    font-size       : 12px;
    border-right    : 1px dotted #776655;    
}
.plist th a:visited,
.plist th a:link {
    color           : #888888;
    font-weight     : bold;
}
.plist th a:hover {
    color           : #5a5a5a;
}
.plist img {
    border          : 0px;
}
.plist a:visited,
.plist a:link {
    color           : #888888;
    text-decoration : none;
}
.plist a:hover {
    color           : #5a5a5a;
}
.plist td {
    border-right    : dotted 1px #aaaaaa;
    border-top      : dotted 1px #aaaaaa; 
    text-align      : center;
    height          : 20px;
}
.plist_odd td {
    background      : #ffffff url(../images/misc/background.png);
}
.plist_even td{
    background-color: #ffffff;
}
.plist_hilight {
    background-color: #dddddd;
}
.plist_shilight {
    background-color: #cdcdcd;
}
.plist_footer {
    padding         : 4px;
    background-color: #eeeeee;
    color           : #888888;
    text-align      : center;
    height          : 20px;
}
.plist_footer td {
    border-right    : 1px dotted #776655;
    border-top      : 1px dotted #776655;    
    border-bottom   : 1px dotted #776655;
}
.plist_group_actions_col {
    width           : 20px;
}
.plist_group_actions_ltr {
    margin          : 0px 0px 0px 6px;
    padding         : 6px 0px 0px 30px;
    background      : transparent url('../images/list/arrow_ltr.png') no-repeat left top;
    width           : 24px;
    height          : 16px;    
}
.plist_group_actions_rtl {
    padding         : 0px 14px;
    background      : transparent url('../images/list/arrow_rtl.png') no-repeat;
    width           : 24px;
    height          : 24px;
}
.plist_group_actions_ltr a:visited,
.plist_group_actions_ltr a:link,
.plist_group_actions_rtl a:visited,
.plist_group_actions_rtl a:link {
    color           : #888888;
    text-decoration : none;
}
.plist_group_actions_ltr a:hover,
.plist_group_actions_rtl a:hover {
    color           : #5a5a5a;
}
.pager_wrapper {
    text-align      : center;
    color           : #414175;
    font-size       : 12px;
    font-weight     : bold;
    margin          : 0px;
}
.pager_wrapper .pager {
    margin-left    : auto;
    margin-right   : auto;
}
.pager_wrapper img {
    border          : 0px;
    vertical-align  : middle;
    padding         : 0px;
    margin          : 0px;
}
.pager_wrapper a {
    text-decoration : none;
    font-weight     : normal;
    color           : #414175;
}
/* end of PList# }}} */
/* {{{ #Tabbed Block */
.tabbed_block_title {
    padding         : 25px 55px;
    margin          : 0px 5px;
    font-size       : 12px;
    font-weight     : bold;
    color           : #888888;
}
.tabbed_block_view {
    position        : relative;
    overflow        : hidden;
}
.tabbed_block_nav {
    float           : left;
    position        : relative;
    margin          : 0px;
    padding         : 0px;
    background      : transparent url("../images/tabbed_block/tb_line.png") repeat-x bottom;
    color           : #888888;
    font-size       : 10px;
    line-height     : normal;
    width           : 100%;
}
.tabbed_block_nav ul {
    margin          : 0px;
    padding         : 0px;
    list-style      : none;
}
.tabbed_block_nav li {
    float           : right; /* left or right depend on language direction (right for rtl!) */
    margin          : 0px;
    padding         : 0px;
}
.tabbed_block_nav a {
    font-size       : .9em; 
    float           : left;
    display         : block;
    margin          : 0px 1px 2px 0px;
    padding         : 5px 15px;
    background-color: #eeeeee; /* background image? */
    border-right    : dotted 1px #776655;
    border-bottom   : dotted 1px #776655;
    color           : #888888;
    text-decoration : none;
    font-weight     : bold;
    white-space     : nowrap;
}
.tabbed_block_nav a:link, 
.tabbed_block_nav a:visited,
.tabbed_block_nav a:active {
    color           : #888888;
}
.tabbed_block_nav a:hover {
    background      : none;
    color           : #ffffff;
    background-color: #aaaaaa; /* this is same as tabbed block background color! */
}
.tabbed_block_nav .selected {
    margin          : 0px;
    padding         : 5px 15px 8px 10px;
    color           : #888888;
    /* tabbed block background */
    background      : #ffffff url("../images/tabbed_block/tb_shadow.png") right bottom no-repeat;     
    border-right    : 0px;
    border-top      : 0px;
    border-bottom   : 0px;
    border-left     : 1px dotted #776655;
}
.tabbed_block_nav .selected {
    margin          : 0px;
    padding         : 5px 15px 8px 10px;
    color           : #888888;
    /* tabbed block background */
    background      : #ffffff url("../images/tabbed_block/tb_shadow.png") right bottom no-repeat;     
    border-right    : 0px;
    border-top      : 0px;
    border-bottom   : 0px;
    border-left     : 1px dotted #776655;
}
.tabbed_block_nav .selected a {
    margin          : 0px;
    padding         : 0px;
    color           : #888888;
    background-color: #ffffff;
    border          : 0px;
}
.tabbed_block_nav .deselected div {
    margin          : 0px;
    padding         : 5px 15px 5px 10px;
    border-bottom   : 1px dotted #776655;    
}
/* commented backslash hack hides rule from IE5-Mac \*/
.tabbed_block_nav a { float   : none; }
/* end IE5-Mac hack */
.tabbed_block_content {
    background-color: #ffffff; /* tabbed block background */
    color           : #000000;
    padding         : 10px 10px 0px 10px;
    margin          : 0px 0px 10px 0px;
    border-bottom   : 1px dotted #776655;
    border-left     : 1px dotted #776655;
    border-right    : 1px dotted #776655;
}
.tabbed_block_btn {
    visibility      : hidden;
    position        : absolute;
    width           : 8px;
    background-color: #ffffff; /* this is same as tabbed block background color! */
    color           : #000000;
    text-align      : center;
    cursor          : default;
    border-left     : 1px solid #776655;
    border-right    : 1px solid #776655;
}
.delimiter {
    visibility      : hidden;
    padding         : 0px;
    margin          : 0px;
    height          : 0px;
}
/* end of Tabbed Block# }}} */
/* {{{ #Tabbed Block Simple */
.tabbed_block_simple {
    float           : left;
    width           : 100%;
    font-size       : 93%;
    line-height     : normal;
}
.tabbed_block_simple ul {
    margin          : 0;
    padding         : 10px 0px 0px 0px;
    list-style      : none;
}
.tabbed_block_simple li {
    float           : left;
    margin          : 0;
    padding         : 0 9px 0 0px;
}
.tabbed_block_simple a {
    float           : left;
    display         : block;
    padding         : 0px 0px 4px 0px;
    text-decoration : none;
    font-weight     : bold;
    color           : #888888;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabbed_block_simple a {float:none;}
/* End IE5-Mac hack */
.tabbed_block_simple a:hover {
    color             : #333333;
    text-decoration   : underline;
}
/* end of Tabbed Block Simple# }}} */
