/*  
    vim: set expandtab tabstop=4 shiftwidth=4 foldmethod=marker:             
    File: $Id$
*/

/* {{{ Global */
body {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin          : 0px;
    padding         : 50px;
    color           : #000;
    background      : #fff url(../images/misc/background.png);
}
input, textarea, select {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    border          : 1px solid #ccc;
    padding         : 0px;
    background-color: #eee;
    color           : #888;
}
.asterisk {
    color           : red;
}
.smallfont {
    font-size       : 10px;
}
/* end of Global }}} */
/* {{{ Blocks
/* {{{ arag_block */
.arag_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_block form {
    padding         : 0px;
    margin          : 0px 0px 10px 0px;
}
.arag_block table {
    padding         : 0px;
}
.arag_block_content {
    background-color: #fff;
    margin          : 0px 0px 10px 0px;
    padding         : 10px 10px 0px 10px;
    border          : 1px solid #ccc;
}
.arag_block_title {
    margin          : 0px;
    padding         : 6px;
    border-right    : 1px solid #ccc;
    border-left     : 1px solid #ccc;
    border-top      : 1px solid #ccc;
    background-color: #eee;
    color           : #888;    
    text-align      : center;
    font-weight     : bold;
    font-size       : 10px;
}
/* end of arag_block }}} */
/* {{{ arag_default_block */
.arag_default_block { 
    margin          : 0px;
    padding         : 0px;
    margin          : 0px 0px 5px 0px;
}
.arag_default_block a:link,
.arag_default_block a:visited {
    color           : #888;
    text-decoration : none;
}
.arag_default_block a:hover {
    color           : #224455;
}
.arag_default_block_tl { /* header */
    background      : transparent url(../images/block/rounded_line_top_left.png) top left no-repeat;
    padding         : 0px;
    margin          : 0px 5px 0px 0px;  /* width of rounded_line_top_right corner */
    text-align      : center;
    color           : #888;
    font-weight     : bold;
}
.arag_default_block_tr {     
    background      : transparent url(../images/block/rounded_line_top_right.png) top right no-repeat;
}
.arag_default_block_left {
    padding         : 0px;
    margin          : 0px;
}
.arag_default_block_right {
    margin          : 0px;
    padding         : 0px;
}
.arag_default_block_body {
    margin          : 0px;
    padding         : 2px;
    border-left     : 1px solid #ccc;
    border-right    : 1px solid #ccc;
}
.arag_default_block_bl {
    background      : transparent url(../images/block/rounded_line_bottom_left.png) bottom left no-repeat;
    padding         : 0px; 
    margin          : 0px 10px 0px 0px;  /* width of bottom_right corner */
}
.arag_default_block_br { /* footer */
    background      : transparent url(../images/block/rounded_line_bottom_right.png) bottom right no-repeat;
}
/* end of arag_default_block }}} */
/* {{{ arag_error_block */
.arag_error_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_error_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #ff7575;    
}
/* end of arag_error_block }}} */
/* {{{ arag_info_block */
.arag_info_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_info_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #4dbd60;    
}
/* end of arag_info_block }}} */
/* {{{ arag_tips_block */
.arag_tips_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_tips_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #66ccff;    
}
/* end of arag_tips_block }}} */
/* {{{ arag_warning_block */
.arag_warning_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_warning_block form {
    padding         : 0px;
    margin          : 0px;
}
.arag_warning_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #ffdf49;    
}
/* end of arag_warning_block }}} */
/* {{{ arag_blank_block */
.arag_blank_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_blank_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 0px;
}
/* end of arag_blank_block }}} */
/* {{{ arag_tags_ds */
.arag_tags_ds a:link, 
.arag_tags_ds a:visited,
.arag_tags_ds a:active {
    color           : #888;
    text-decoration : none;
}
.arag_tags_ds a:hover {
    color           : #444;
    text-decoration : none;
}
.arag_tags_ds img {
    border          : 0px;
}
.arag_tags_ds ul, 
.arag_tags_ds ol, 
.arag_tags_ds li {
    list-style-type : none;
}
.arag_tags_ds h1,
.arag_tags_ds h2, 
.arag_tags_ds h3 {
    margin-top      : 0px;
    margin-bottom   : 0px;
}
.arag_tags_ds input, select {
    border          : 1px solid #ccc;
    background-color: #eee;
    color           : #888;
}
.arag_tags_ds textarea {
    padding         : 1px;
    width           : 300px;
    height          : 100px;
    margin          : 3px;
    border          : 1px solid #ccc;
    background-color: #eee;
    color           : #888;    
}
/* arag_tags_ds }}} */
/* end of Blocks }}} */
/* {{{ PList */
.plist {
    border-left     : 1px solid #ccc;
    width           : 100%;
    width           : "91%"; /* IE5.5 hack */
    padding         : 0px;
    margin          : 0px 0px 10px 0px;
}
.plist_form {
    padding         : 0px;
    margin          : 0px;
}
.plist caption {
    padding         : 0px;
    margin          : 0px;
    border-bottom   : 2px solid #bbb;
    color           : #000;
    font-size       : 12px;
}
.plist th {
    padding         : 4px;
    background-color: #eee;
    color           : #888;
    text-align      : center;
    height          : 20px;
    font-size       : 12px;
    border-right    : 1px solid #ccc;    
}
.plist th a:visited,
.plist th a:link {
    color           : #888;
    font-weight     : bold;
}
.plist th a:hover {
    color           : #5a5a5a;
}
.plist img {
    border          : 0px;
}
.plist a:visited,
.plist a:link {
    color           : #888;
    text-decoration : none;
}
.plist a:hover {
    color           : #5a5a5a;
}
.plist td {
    border-right    : solid 1px #ccc;
    border-top      : solid 1px #ccc; 
    text-align      : center;
    height          : 24px;
}
.plist_odd td {
    background      : #fff url(../images/misc/background.png);
}
.plist_even td{
    background-color: #fff;
}
.plist_hilight {
    background-color: #ddd;
}
.plist_shilight {
    background-color: #eeeeee;
}
.plist_footer {
    padding         : 4px;
    background-color: #eee;
    color           : #888;
    text-align      : center;
    height          : 20px;
}
.plist_footer td {
    border-right    : 1px solid #ccc;
    border-top      : 1px solid #ccc;    
    border-bottom   : 1px solid #ccc;
}
.plist_group_actions_col {
    width           : 20px;
}
.plist_group_actions_ltr {
    margin          : 0px 0px 0px 6px;
    padding         : 6px 0px 0px 30px;
    background      : transparent url('../images/list/arrow_ltr.png') no-repeat left top;
    width           : 24px;
    height          : 16px;    
}
.plist_group_actions_rtl {
    direction       : rtl;
    margin          : 0px 6px 0px 0px;
    padding         : 6px 30px 0px 0px;
    background      : transparent url('../images/list/arrow_rtl.png') no-repeat right top;
    height          : 16px;
}
.plist_group_actions a:visited,
.plist_group_actions a:link {
    color           : #888;
    text-decoration : none;
}
.plist_group_actions a:hover {
    color           : #5a5a5a;
}
.plist_group_actions td {
    padding         : 0px 5px;
}
.pager_wrapper {
    text-align      : center;
    color           : #414175;
    font-size       : 12px;
    font-weight     : bold;
    margin          : 0px;
}
.pager_wrapper .pager {
    margin-left    : auto;
    margin-right   : auto;
}
.pager_wrapper img {
    border          : 0px;
    vertical-align  : middle;
    padding         : 0px;
    margin          : 0px;
}
.pager_wrapper a {
    text-decoration : none;
    font-weight     : normal;
    color           : #414175;
}
.pager_lt a {
    display         : block;
    background      : transparent url(../images/list/lt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_ltlt a {
    display         : block;
    background      : transparent url(../images/list/ltlt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_disabled_lt {
    background      : transparent url(../images/list/lt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_disabled_ltlt {
    background      : transparent url(../images/list/ltlt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_gt a {
    display         : block;
    background      : transparent url(../images/list/gt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_gtgt a {
    display         : block;
    background      : transparent url(../images/list/gtgt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_disabled_gt {
    background      : transparent url(../images/list/gt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.pager_disabled_gtgt {
    background      : transparent url(../images/list/gtgt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px; 
}
.plist_norecords {
    text-align      : center;
    padding         : 10px;
    background-color: #eee;        
    border-top      : 2px solid #ccc;
    border-bottom   : 1px solid #ccc;    
    border-right    : 1px solid #ccc;    
    border-left     : 1px solid #ccc;    
}
/* end of PList }}} */
/* {{{ category */
.category_norecords {
    text-align      : center;
    padding         : 10px;
    background-color: #eee;        
    border-top      : 2px solid #ccc;
    border-bottom   : 1px solid #ccc;    
    border-right    : 1px solid #ccc;    
    border-left     : 1px solid #ccc;    
}
/* end of category }}} */
/* {{{ PList icons */
.plist_icon {
    width           : 24px;
}
.plist_group_actions .plist_icon {
    width           : 16px;
}
.plist_icon a, 
.plist_icon div {
    display         : block;
    margin          : 0px auto;    
}
.edit_action {
    background      : transparent url(../images/list/edit.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;    
}
.view_action {
    background      : transparent url(../images/list/view.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;    
}
.view_action_alt {
    background      : transparent url(../images/list/disabled_view.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;    
}
.print_action {
    background      : transparent url(../images/list/printer.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;    
}
.delete_action {
    background      : transparent url(../images/list/trash.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.delete_action_alt {
    background      : transparent url(../images/list/disabled_trash.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.privileges_action {
    background      : transparent url(../images/list/privileges.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
/* }}} end of List actions */
/* {{{ Tabbed Block */
.tabbed_block_title {
    padding         : 25px 55px;
    margin          : 0px 5px;
    font-size       : 12px;
    font-weight     : bold;
    color           : #888;
}
.tabbed_block_nav {
    float           : left;
    position        : relative;
    margin          : 0px;
    padding         : 0px;
    background      : transparent url("../images/tabbed_block/tb_line.png") repeat-x bottom;
    color           : #888;
    font-size       : 10px;
    line-height     : normal;
    width           : 100%;
}
.tabbed_block_nav ul {
    margin          : 0px;
    padding         : 0px;
    list-style      : none;
}
.tabbed_block_nav li {
    float           : right; /* left or right depend on language direction (right for rtl!) */
    margin          : 0px;
    padding         : 0px;
}
.tabbed_block_nav a {
    font-size       : .9em; 
    float           : left;
    display         : block;
    margin          : 0px 1px 2px 0px;
    padding         : 5px 15px;
    background-color: #eee; /* background image? */
    border-right    : solid 1px #ccc;
    border-bottom   : solid 1px #ccc;
    color           : #888;
    text-decoration : none;
    font-weight     : bold;
    white-space     : nowrap;
}
.tabbed_block_nav a:link, 
.tabbed_block_nav a:visited,
.tabbed_block_nav a:active {
    color           : #888;
}
.tabbed_block_nav a:hover {
    background      : none;
    color           : #fff;
    background-color: #aaa; /* this is same as tabbed block background color! */
}
.tabbed_block_nav .selected {
    margin          : 0px;
    padding         : 5px 15px 8px 10px;
    color           : #888;
    /* tabbed block background */
    background      : #fff url("../images/tabbed_block/tb_shadow.png") right bottom no-repeat;     
    border-right    : 0px;
    border-top      : 0px;
    border-bottom   : 0px;
    border-left     : 1px solid #ccc;
}
.tabbed_block_nav .selected a {
    margin          : 0px;
    padding         : 0px;
    color           : #888;
    background-color: #fff;
    border          : 0px;
}
.tabbed_block_nav .deselected div {
    margin          : 0px;
    padding         : 5px 15px 5px 10px;
    border-bottom   : 1px solid #ccc;    
}
/* commented backslash hack hides rule from IE5-Mac \*/
.tabbed_block_nav a { float   : none; }
/* end IE5-Mac hack */
.tabbed_block_content {
    background-color: #fff; /* tabbed block background */
    color           : #000;
    padding         : 10px 10px 0px 10px;
    margin          : 0px 0px 10px 0px;
    border-bottom   : 1px solid #ccc;
    border-left     : 1px solid #ccc;
    border-right    : 1px solid #ccc;
}
/* Subtabs */
.tabbed_block_subnav {
    margin          : 0px 0px 25px 0px;
    padding         : 0px;
    background-color: #fff; /* same as background of selected tab */
    color           : #888;
    font-size       : 10px;
}
.tabbed_block_subnav ul {
    margin          : 0px;
    padding         : 0px;
    list-style      : none;
}
.tabbed_block_subnav li {
    float           : right; /* left or right depend on language direction (right for rtl!) */
    margin          : 0px;
    padding         : 0px;
}
.tabbed_block_subnav a {
    font-size       : .9em; 
    float           : left;
    display         : block;
    margin          : 0px 1px 2px 0px;
    padding         : 2px 15px;
    background-color: #fff;
    border-right    : solid 1px #ccc;
    color           : #888;
    text-decoration : none;
    font-weight     : bold;
    white-space     : nowrap;
}
.tabbed_block_subnav a:link, 
.tabbed_block_subnav a:visited,
.tabbed_block_subnav a:active {
    color           : #888;
}
.tabbed_block_subnav a:hover {
    background      : none;
    background-color: #eee;
}
.tabbed_block_subnav .selected a {
    margin          : 0px;
    padding         : 2px 15px;    
    color           : #888;
    background-color: #eee;
}
.tabbed_block_subnav .deselected div {
    margin          : 0px 1px 2px 0px;
    padding         : 2px 15px;
}
/* commented backslash hack hides rule from IE5-Mac \*/
.tabbed_block_subnav a { float   : none; }
/* end IE5-Mac hack */
/* end of Tabbed Block }}} */
/* {{{ Tabbed Block Simple */
.tabbed_block_simple {
    float           : left;
    width           : 100%;
    font-size       : 93%;
    line-height     : normal;
}
.tabbed_block_simple ul {
    margin          : 0;
    padding         : 10px 0px 0px 0px;
    list-style      : none;
}
.tabbed_block_simple li {
    float           : left;
    margin          : 0;
    padding         : 0 9px 0 0px;
}
.tabbed_block_simple a {
    float           : left;
    display         : block;
    padding         : 0px 0px 4px 0px;
    text-decoration : none;
    font-weight     : bold;
    color           : #888;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabbed_block_simple a {float:none;}
/* End IE5-Mac hack */
.tabbed_block_simple a:hover {
    color             : #333333;
    text-decoration   : underline;
}
/* end of Tabbed Block Simple }}} */
/* {{{ Blog */
.blog {}
.blog_entry {
    padding           : 0px;
}
.blog_subject {
    font-size         : 13px;
    font-weight       : bold;
    border-bottom     : 1px solid #ccc;    
}
.blog_posted {
    color             : #888;
    font-size         : 9px;
    text-align        : right;
}
.blog_body {}
.blog_extended_body {}
.blog_comments h3 {
    font-size         : 13px;
    font-weight       : bold;
    color             : #888;
}
/* }}} end of Blog */
/* {{{ Comment */
.comments {
    margin            : 20px;
}
.comments h3 {
    font-size         : 13px;
    font-weight       : bold;
    color             : #888;
}
.comment {
    margin            : 0px 0px 10px 0px;
}
.comment_posted {
    color             : #888;
    font-size         : 12px;
    border-bottom     : 1px solid #ccc;    
    font-weight       : bold;    
}
.comment_posted a {
    color             : #888;
    font-size         : 12px;
    border-bottom     : 1px solid #ccc;    
    text-decoration   : none;
    font-weight       : bold;
}
.comment_body {
    padding           : 5px;
    color             : #888;    
}
/* }}} end of Comment */
/* {{{ User Manegment */
.prilist {
    border-left     : solid 1px #aaa;
    border-bottom   : solid 1px #aaa;
}
.prilist td {
    border-right    : solid 1px #aaa;
    border-top      : solid 1px #aaa;
    height          : 24px;
}
.prilist_parent td {
    background      : #fff url(../images/misc/background.png);
    padding-left    : 5px;
}
.prilist_sub td {
    background-color: #fff;
    padding-left    : 20px;
}
/* }}} end of User Management */
/* {{{ ControlPanel */
.cp_items_box {
    width           : auto;
    margin          : 0 auto;
    padding         : 0;
}
.cp_items_box .cp_centerer {
    width           : 550px;
    margin          : 0 auto;
    padding         : 0;
}
.cp_items_box .cp_item {
    float           : left;
    margin          : 0px;
    padding         : 5px;
    max-width       : 65px;
}
.cp_items_box .cp_item img {
    margin          : 0px;
    padding         : 5px;
}
.cp_items_box .cp_item a {
    text-decoration : none;
    color           : #000;
    background-color: #fff;
    border          : 1px solid #aaa;
    display         : block;
    text-align      : center;
}
.cp_items_box .cp_item a:hover {
    text-decoration : none;
    color           : #000;
    background-color: #eee;
    border          : 1px solid #aaa;
    display         : block;
    text-align      : center;
}
.cp_items_box .cp_link a {
    color           : #000;
    background-color: #fff;
    border          : 0px;
}
.cp_items_box .cp_link a:hover {
    color           : #aaa;
    background-color: #fff;
    border          : 0px;    
}
.cp_items_box .cp_item p {
    color           : #000;
    text-align      : center;
}
.cp_items_box .cp_item_over {
    float           : left;
    margin          : 5px;
    padding         : 5px;
}
.cp_items_box .cp_item_over img {
    background-color: #fff;
    margin          : 5px;
    padding         : 5px;
    border          : 1px solid #aaa; 
}
.cp_items_box .cp_item_over a {
    text-decoration : none;
    color           : #000;
}
.cp_items_box .cp_item_over p {
    color           : #000;
    text-align      : center;
}
.cp_items_box .cp_spacer {
    clear           : both;
}
/* end of ControlPanel }}} */
/* {{{ Profiler */
#kohana-profiler {
	font-family     : Monaco, 'Courier New';
	background-color: #f8fff8;
	margin-top      : 20px;
	clear           : both;
	padding         : 10px 10px 0;
	border          : 1px solid #e5eff8;
}
#kohana-profiler pre {
	margin          : 0;
	font            : inherit;
}
#kohana-profiler table {
	font-size       : 1.0em;
	color           : #4d6171;
	width           : 100%;
	border-collapse : collapse;
	border-top      : 1px solid #e5eff8;
	border-right    : 1px solid #e5eff8;
	border-left     : 1px solid #e5eff8;
	margin-bottom   : 10px;
}
#kohana-profiler th {
	text-align      : left;
	border-bottom   : 1px solid #e5eff8;
	background-color: #f9fcfe;
	padding         : 3px;
	color           : #263038;
}
#kohana-profiler td {
	background-color: #ffffff;
	border-bottom   : 1px solid #e5eff8;
	padding         : 3px;
}
#kohana-profiler .kp-altrow td {
	background-color: #f7fbff;
}
#kohana-profiler .kp-totalrow td {
	background-color: #fafafa;
	border-top      : 1px solid #d2dce5;
	font-weight     : bold;
}
#kp-benchmarks th {
	background-color: #ffe0e0;
}
#kp-queries th {
	background-color: #e0ffe0;
}
#kp-postdata th {
	background-color: #e0e0ff;
}
#kp-sessiondata th {
	background-color: #cce8fb;
}
#kohana-profiler .kp-column {
	width           : 100px;
	border-left     : 1px solid #e5eff8;
	text-align      : center;
}
#kohana-profiler .kp-data, 
#kohana-profiler .kp-name {
	background-color: #fafafb;
	vertical-align  : top;
}
#kohana-profiler .kp-name {
	width           : 200px;
	border-right    : 1px solid #e5eff8;
}
#kohana-profiler .kp-altrow .kp-data, 
#kohana-profiler .kp-altrow .kp-name
{
	background-color: #f6f8fb;
}
/* end of Profiler }}} */
