/*
    vim: set expandtab tabstop=4 shiftwidth=4 foldmethod=marker:
    File: $Id$
*/

/* {{{ Global */
body {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin          : 0px;
    padding         : 50px;
    color           : #000;
    background      : #fff url(../images/misc/background.jpg);
}
input, textarea, select {
    font-size       : 12px;
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    border          : 1px solid #ccc;
    background-color: #eee;
    color           : #888;
    padding         : .1em .0em;
}
input[type=button], input[type=submit], input[type=reset] {
    background      : #eee;
    color           : #222;
    border          : 1px outset #ccc;
    padding         : .1em .5em;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background      : #aaa;
    color           : #fff;
}
input[type=button][disabled], input[type=submit][disabled],
input[type=reset][disabled] {
    background      : #f6f6f6;
    border-style    : solid;
    color           : #999;
}
.asterisk {
    color           : red;
}
.smallfont {
    font-size       : 10px;
}
/* end of Global }}} */
/* {{{ Blocks
/* {{{ arag_block */
.arag_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_block form {
    padding         : 0px;
    margin          : 0px 0px 10px 0px;
}
.arag_block table {
    padding         : 0px;
}
.arag_block_content {
    background-color: #fff;
    margin          : 0px 0px 10px 0px;
    padding         : 10px 10px 0px 10px;
    border          : 1px solid #ccc;
}
.arag_block_title {
    margin          : 0px;
    padding         : 6px;
    border-right    : 1px solid #ccc;
    border-left     : 1px solid #ccc;
    border-top      : 1px solid #ccc;
    background-color: #eee;
    color           : #888;
    text-align      : center;
    font-weight     : bold;
    font-size       : 10px;
}
/* end of arag_block }}} */
/* {{{ arag_default_block */
.arag_default_block {
    margin          : 0px;
    padding         : 0px;
    margin          : 0px 0px 5px 0px;
}
.arag_default_block a:link,
.arag_default_block a:visited {
    color           : #888;
    text-decoration : none;
}
.arag_default_block a:hover {
    color           : #224455;
}
.arag_default_block_tl { /* header */
    background      : transparent url(../images/block/rounded_line_top_left.png) top left no-repeat;
    padding         : 0px;
    margin          : 0px 5px 0px 0px;  /* width of rounded_line_top_right corner */
    text-align      : center;
    color           : #888;
    font-weight     : bold;
}
.arag_default_block_tr {
    background      : transparent url(../images/block/rounded_line_top_right.png) top right no-repeat;
}
.arag_default_block_left {
    padding         : 0px;
    margin          : 0px;
}
.arag_default_block_right {
    margin          : 0px;
    padding         : 0px;
}
.arag_default_block_body {
    margin          : 0px;
    padding         : 2px;
    border-left     : 1px solid #ccc;
    border-right    : 1px solid #ccc;
}
.arag_default_block_bl {
    background      : transparent url(../images/block/rounded_line_bottom_left.png) bottom left no-repeat;
    padding         : 0px;
    margin          : 0px 10px 0px 0px;  /* width of bottom_right corner */
}
.arag_default_block_br { /* footer */
    background      : transparent url(../images/block/rounded_line_bottom_right.png) bottom right no-repeat;
}
/* end of arag_default_block }}} */
/* {{{ arag_error_block */
.arag_error_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_error_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #ff7575;
}
/* end of arag_error_block }}} */
/* {{{ arag_info_block */
.arag_info_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_info_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #4dbd60;
}
/* end of arag_info_block }}} */
/* {{{ arag_tips_block */
.arag_tips_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_tips_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #66ccff;
}
/* end of arag_tips_block }}} */
/* {{{ arag_warning_block */
.arag_warning_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_warning_block form {
    padding         : 0px;
    margin          : 0px;
}
.arag_warning_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 9px 35px;
    border          : 1px solid #ffdf49;
}
/* end of arag_warning_block }}} */
/* {{{ arag_blank_block */
.arag_blank_block {
    margin          : 0px;
    padding         : 0px;
}
.arag_blank_block_content {
    margin          : 0px 0px 10px 0px;
    padding         : 0px;
}
/* end of arag_blank_block }}} */
/* {{{ arag_collapsible_block */
.arag_collapsible_block .expanded {
    border          : 1px solid #ccc;
    margin-bottom   : 10px;
}
.arag_collapsible_block .expanded legend {
    background      : url(../images/misc/expanded.png) 0 50% no-repeat;
    color           : #666;
    font-size       : 110%;
    padding-left    : 16px;
    cursor          : pointer;
}
.arag_collapsible_block .collapsed {
    border-width    : 0;
    border-top      : 1px solid #ccc;
    padding         : 0px 0px 0px 10px;
}
.arag_collapsible_block .collapsed legend {
    background      : url(../images/misc/collapsed.png) 0 50% no-repeat;
    color           : #666;
    font-size       : 110%;
    padding-left    : 16px;
    cursor          : pointer;
}
.arag_collapsible_block .collapsed div {
    display         : none;
}
/* }}} end of arag_collapsible_block */
/* {{{ arag_tags_ds */
.arag_tags_ds a:link,
.arag_tags_ds a:visited,
.arag_tags_ds a:active {
    color           : #888;
    text-decoration : none;
}
.arag_tags_ds a:hover {
    color           : #444;
    text-decoration : none;
}
.arag_tags_ds img {
    border          : 0px;
}
.arag_tags_ds ul,
.arag_tags_ds ol,
.arag_tags_ds li {
    list-style-type : none;
}
.arag_tags_ds h1,
.arag_tags_ds h2,
.arag_tags_ds h3 {
    margin-top      : 0px;
    margin-bottom   : 0px;
}
.arag_tags_ds input,
.arag_tags_ds select {
    border          : 1px solid #ccc;
    background-color: #eee;
    color           : #888;
    padding         : .1em .0em;
}
.arag_tags_ds input[type=button],
.arag_tags_ds input[type=submit],
.arag_tags_ds input[type=reset] {
    background      : #eee;
    color           : #222;
    border          : 1px outset #ccc;
    padding         : .1em .5em;
}
.arag_tags_ds input[type=button]:hover,
.arag_tags_ds input[type=submit]:hover,
.arag_tags_ds input[type=reset]:hover {
    background      : #aaa;
    color           : #fff;
}
.arag_tags_ds input[type=button][disabled],
.arag_tags_ds input[type=submit][disabled],
.arag_tags_ds input[type=reset][disabled] {
    background      : #f6f6f6;
    border-style    : solid;
    color           : #999;
}
.arag_tags_ds textarea {
    padding         : 1px;
    width           : 300px;
    height          : 100px;
    margin          : 3px;
    border          : 1px solid #ccc;
    background-color: #eee;
    color           : #888;
}
/* arag_tags_ds }}} */
/* end of Blocks }}} */
/* {{{ PList */
.plist {
    border-left     : 1px solid #ccc;
    width           : 100%;
    width           : "91%"; /* IE5.5 hack */
    padding         : 0px;
    margin          : 0px 0px 10px 0px;
}
.plist_form {
    padding         : 0px;
    margin          : 0px;
}
.plist caption {
    padding         : 0px;
    margin          : 0px;
    border-bottom   : 2px solid #bbb;
    color           : #000;
    font-size       : 12px;
}
.plist th {
    padding         : 4px;
    background-color: #eee;
    color           : #888;
    text-align      : center;
    height          : 20px;
    font-size       : 12px;
    border-right    : 1px solid #ccc;
}
.plist th a:visited,
.plist th a:link {
    color           : #888;
    font-weight     : bold;
}
.plist th a:hover {
    color           : #5a5a5a;
}
.plist img {
    border          : 0px;
}
.plist a:visited,
.plist a:link {
    color           : #888;
    text-decoration : none;
}
.plist a:hover {
    color           : #5a5a5a;
}
.plist td {
    border-right    : solid 1px #ccc;
    border-top      : solid 1px #ccc;
    text-align      : center;
    height          : 24px;
}
.plist_odd td {
    background      : #fff url(../images/misc/background.jpg);
}
.plist_even td{
    background-color: #fff;
}
.plist_hilight {
    background-color: #ddd;
}
.plist_shilight {
    background-color: #eeeeee;
}
.plist_footer {
    padding         : 4px;
    background-color: #eee;
    color           : #888;
    text-align      : center;
    height          : 20px;
}
.plist_footer td {
    border-right    : 1px solid #ccc;
    border-top      : 1px solid #ccc;
    border-bottom   : 1px solid #ccc;
}
.plist_group_actions_col {
    width           : 20px;
}
.plist_group_actions_ltr {
    margin          : 0px 0px 0px 6px;
    padding         : 6px 0px 0px 30px;
    background      : transparent url('../images/list/arrow_ltr.png') no-repeat left top;
    width           : 24px;
    height          : 16px;
}
.plist_group_actions_rtl {
    direction       : rtl;
    margin          : 0px 6px 0px 0px;
    padding         : 6px 30px 0px 0px;
    background      : transparent url('../images/list/arrow_rtl.png') no-repeat right top;
    height          : 16px;
}
.plist_group_actions a:visited,
.plist_group_actions a:link {
    color           : #888;
    text-decoration : none;
}
.plist_group_actions a:hover {
    color           : #5a5a5a;
}
.plist_group_actions td {
    padding         : 0px 5px;
}
.pager_wrapper {
    text-align      : center;
    color           : #414175;
    font-size       : 12px;
    font-weight     : bold;
    margin          : 0px;
}
.pager_wrapper .pager {
    margin-left    : auto;
    margin-right   : auto;
}
.pager_wrapper img {
    border          : 0px;
    vertical-align  : middle;
    padding         : 0px;
    margin          : 0px;
}
.pager_wrapper a {
    text-decoration : none;
    font-weight     : normal;
    color           : #414175;
}
.pager_lt a {
    display         : block;
    background      : transparent url(../images/list/lt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_ltlt a {
    display         : block;
    background      : transparent url(../images/list/ltlt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_disabled_lt {
    background      : transparent url(../images/list/lt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_disabled_ltlt {
    background      : transparent url(../images/list/ltlt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_gt a {
    display         : block;
    background      : transparent url(../images/list/gt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_gtgt a {
    display         : block;
    background      : transparent url(../images/list/gtgt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_disabled_gt {
    background      : transparent url(../images/list/gt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.pager_disabled_gtgt {
    background      : transparent url(../images/list/gtgt_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.plist_norecords {
    text-align      : center;
    padding         : 10px;
    background-color: #eee;
    border-top      : 2px solid #ccc;
    border-bottom   : 1px solid #ccc;
    border-right    : 1px solid #ccc;
    border-left     : 1px solid #ccc;
}
/* end of PList }}} */
/* {{{ category */
.category_norecords {
    text-align      : center;
    padding         : 10px;
    background-color: #eee;
    border-top      : 2px solid #ccc;
    border-bottom   : 1px solid #ccc;
    border-right    : 1px solid #ccc;
    border-left     : 1px solid #ccc;
}
/* end of category }}} */
/* {{{ PList icons */
.plist_icon {
    width           : 24px;
}
.plist_group_actions .plist_icon {
    width           : 16px;
}
.plist_icon a,
.plist_icon div {
    display         : block;
    margin          : 0px auto;
}
.edit_action {
    background      : transparent url(../images/list/edit.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_action {
    background      : transparent url(../images/list/view.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_action_alt {
    background      : transparent url(../images/list/disabled_view.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.print_action {
    background      : transparent url(../images/list/printer.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.delete_action {
    background      : transparent url(../images/list/trash.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.delete_action_alt {
    background      : transparent url(../images/list/disabled_trash.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.privileges_action {
    background      : transparent url(../images/list/privileges.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.resume_action {
    background      : transparent url(../images/list/resume.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.users_list {
    background      : transparent url(../images/list/users_list.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_profile {
    background      : transparent url(../images/list/view_profile.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_profile_alt {
    background      : transparent url(../images/list/view_profile_alt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.apply_action {
    background      : transparent url(../images/list/apply.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.apply_action_alt {
    background      : transparent url(../images/list/disabled_apply.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.cancel_action {
    background      : transparent url(../images/list/cancel.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.cancel_action_alt {
    background      : transparent url(../images/list/disabled_cancel.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.assign_action {
    background      : transparent url(../images/list/assign.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.apply_cancel_action {
    background      : transparent url(../images/list/cancel.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.apply_cancel_action_alt {
    background      : transparent url(../images/list/apply.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_tree {
    background      : transparent url(../images/list/view_tree.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_tree_alt {
    background      : transparent url(../images/list/view_tree_disabled.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_profile {
    background      : transparent url(../images/list/view_profile.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
.view_profile_alt {
    background      : transparent url(../images/list/view_profile_alt.png) no-repeat center;
    font-size       : 0px;
    width           : 16px;
    height          : 16px;
}
/* }}} end of List actions */
/* {{{ Tabbed Block */
.tabbed_block_title {
    padding         : 25px 55px;
    margin          : 0px 5px;
    font-size       : 12px;
    font-weight     : bold;
    color           : #888;
}
.tabbed_block_nav {
    position        : relative;
    margin          : 0px;
    padding         : 0px;
    background      : transparent url("../images/tabbed_block/tb_line.png") repeat-x bottom;
    color           : #888;
    font-size       : 10px;
    line-height     : normal;
    width           : 100%;
}
.tabbed_block_nav ul {
    margin          : 0px;
    padding         : 0px;
    list-style      : none;
}
.tabbed_block_nav li {
    float           : right; /* left or right depend on language direction (right for rtl!) */
    margin          : 0px;
    padding         : 0px;
}
.tabbed_block_nav a {
    font-size       : .9em;
    float           : left;
    display         : block;
    margin          : 0px 1px 2px 0px;
    padding         : 5px 15px;
    background-color: #eee; /* background image? */
    border-right    : solid 1px #ccc;
    border-bottom   : solid 1px #ccc;
    color           : #888;
    text-decoration : none;
    font-weight     : bold;
    white-space     : nowrap;
}
.tabbed_block_nav a:link,
.tabbed_block_nav a:visited,
.tabbed_block_nav a:active {
    color           : #888;
}
.tabbed_block_nav a:hover {
    background      : none;
    color           : #fff;
    background-color: #aaa; /* this is same as tabbed block background color! */
}
.tabbed_block_nav .selected {
    margin          : 0px;
    padding         : 5px 15px 8px 10px;
    color           : #888;
    /* tabbed block background */
    background      : #fff url("../images/tabbed_block/tb_shadow.png") right bottom no-repeat;
    border-right    : 0px;
    border-top      : 0px;
    border-bottom   : 0px;
    border-left     : 1px solid #ccc;
}
.tabbed_block_nav .selected a {
    margin          : 0px;
    padding         : 0px;
    color           : #888;
    background-color: #fff;
    border          : 0px;
}
.tabbed_block_nav .deselected div {
    margin          : 0px;
    padding         : 5px 15px 5px 10px;
    border-bottom   : 1px solid #ccc;
}
/* commented backslash hack hides rule from IE5-Mac \*/
.tabbed_block_nav a { float   : none; }
/* end IE5-Mac hack */
.tabbed_block_content {
    background-color: #fff; /* tabbed block background */
    color           : #000;
    padding         : 10px 10px 0px 10px;
    margin          : 0px 0px 10px 0px;
    border-bottom   : 1px solid #ccc;
    border-left     : 1px solid #ccc;
    border-right    : 1px solid #ccc;
}
/* Subtabs */
.tabbed_block_subnav {
    margin          : 0px 0px 25px 0px;
    padding         : 0px;
    background-color: #fff; /* same as background of selected tab */
    color           : #888;
    font-size       : 10px;
}
.tabbed_block_subnav ul {
    margin          : 0px;
    padding         : 0px;
    list-style      : none;
}
.tabbed_block_subnav li {
    float           : right; /* left or right depend on language direction (right for rtl!) */
    margin          : 0px;
    padding         : 0px;
}
.tabbed_block_subnav a {
    font-size       : .9em;
    float           : left;
    display         : block;
    margin          : 0px 1px 2px 0px;
    padding         : 2px 15px;
    background-color: #fff;
    border-right    : solid 1px #ccc;
    color           : #888;
    text-decoration : none;
    font-weight     : bold;
    white-space     : nowrap;
}
.tabbed_block_subnav a:link,
.tabbed_block_subnav a:visited,
.tabbed_block_subnav a:active {
    color           : #888;
}
.tabbed_block_subnav a:hover {
    background      : none;
    background-color: #eee;
}
.tabbed_block_subnav .selected a {
    margin          : 0px;
    padding         : 2px 15px;
    color           : #888;
    background-color: #eee;
}
.tabbed_block_subnav .deselected div {
    margin          : 0px 1px 2px 0px;
    padding         : 2px 15px;
}
/* commented backslash hack hides rule from IE5-Mac \*/
.tabbed_block_subnav a { float   : none; }
/* end IE5-Mac hack */
/* end of Tabbed Block }}} */
/* {{{ Tabbed Block Simple */
.tabbed_block_simple {
    float           : left;
    width           : 100%;
    font-size       : 93%;
    line-height     : normal;
}
.tabbed_block_simple ul {
    margin          : 0;
    padding         : 10px 0px 0px 0px;
    list-style      : none;
}
.tabbed_block_simple li {
    float           : left;
    margin          : 0;
    padding         : 0 9px 0 0px;
}
.tabbed_block_simple a {
    float           : left;
    display         : block;
    padding         : 0px 0px 4px 0px;
    text-decoration : none;
    font-weight     : bold;
    color           : #888;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabbed_block_simple a {float:none;}
/* End IE5-Mac hack */
.tabbed_block_simple a:hover {
    color             : #333333;
    text-decoration   : underline;
}
/* end of Tabbed Block Simple }}} */
/* {{{ Comment */
.comments {
    margin            : 20px;
}
.comments h3 {
    font-size         : 13px;
    font-weight       : bold;
    color             : #888;
}
.comment {
    margin            : 0px 0px 10px 0px;
}
.comment_posted {
    color             : #888;
    font-size         : 12px;
    border-bottom     : 1px solid #ccc;
    font-weight       : bold;
}
.comment_posted a {
    color             : #888;
    font-size         : 12px;
    border-bottom     : 1px solid #ccc;
    text-decoration   : none;
    font-weight       : bold;
}
.comment_body {
    padding           : 5px;
    color             : #888;
}
.comment_body li {
    list-style-type : disc;
}
/* }}} end of Comment */
/* {{{ user_autocomplete */
.user_autocomplete {
    background-color: #E8DEFF;
    list-style: none;
    border: 1px solid black;
    margin:0px;
    padding: 0px;
    position: absolute;
}
.user_autocomplete li {
    border-bottom:1px dashed #ccc;
    padding: 1px;
}

.user_autocomplete li:hover {
    background-color: #ABA4BC;
}
/* }}} end */
/* {{{ Profiler */
#kohana-profiler
{
	font-family: Monaco, 'Courier New';
	background-color: #F8FFF8;
	margin-top: 20px;
	clear: both;
	padding: 10px 10px 0;
	border: 1px solid #E5EFF8;
	text-align: left;
}
#kohana-profiler pre
{
	margin: 0;
	font: inherit;
}
#kohana-profiler .kp-table
{
	font-size: 1.0em;
	color: #4D6171;
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #E5EFF8;
	border-right: 1px solid #E5EFF8;
	border-left: 1px solid #E5EFF8;
	margin-bottom: 10px;
}
#kohana-profiler .kp-table td
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #E5EFF8;
	padding: 3px;
	vertical-align: top;
}
#kohana-profiler .kp-table .kp-title td
{
	font-weight: bold;
	background-color: inherit;
}
#kohana-profiler .kp-table .kp-altrow td
{
	background-color: #F7FBFF;
}
#kohana-profiler .kp-table .kp-totalrow td
{
	background-color: #FAFAFA;
	border-top: 1px solid #D2DCE5;
	font-weight: bold;
}
#kohana-profiler .kp-table .kp-column
{
	width: 100px;
	border-left: 1px solid #E5EFF8;
	text-align: center;
}
#kohana-profiler .kp-table .kp-data, #kohana-profiler .kp-table .kp-name
{
	background-color: #FAFAFB;
	vertical-align: top;
}
#kohana-profiler .kp-table .kp-name
{
	width: 200px;
	border-right: 1px solid #E5EFF8;
}
#kohana-profiler .kp-table .kp-altrow .kp-data, #kohana-profiler .kp-table .kp-altrow .kp-name
{
	background-color: #F6F8FB;
}
/* end of Profiler }}} */
/* {{{ misc */
.odd {
    text-align: center;
    background-color: #ececec;
    border: 1px solid #ccc;
}
.even {
    text-align: center;
    border: 1px solid #ccc;
}
* {
    behavior: url('../scripts/iepngfix.htc');
}
/* }}} */
